<h1>{{ title }}</h1>

<ul>
    {{#each users}}
        <li>
            {{ StudentNumber }} / {{ StudentName }} / {{ Department }} / {{ Year }} / {{ Start }} / {{ Mail }}
          </a>
    </li>
    {{/each}}
</ul>
